# Python cache
__pycache__/
*.py[cod]

# Logs
logs/

# Virtual environment
venv/
.venv/

# Reports

reports/

# Hide local security keys and credentials
config/secrets.py

#Hide data
raw_data/
data/
checkpoints/

#Hide evaluation results
evaluation_results/